doctype html

div.error-main
    div.error-container
        img(src="/#{v}/svg/logo.svg", alt="TUESMON", width="143px")
        h1.logo Tuesmon
        p.error-text(translate="ERROR.TEXT1")
        a(href="/", title="", translate="COMMON.GO_HOME")
